<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <title>LV 5048 Dashboard</title>
  </head>
  <body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">LV5048 - Data Charts</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('sys_status') }}">Status</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('data') }}">Data<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('stats') }}">Stats</a>
					</li>
				</ul>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>{{time}}</li>
			</ul>
		</div>
	</div>
    
    <div class = "container" >
		<!-- Time Period Selector -->
		<div class="row" style="margin-top:70px">
			<div class="col-lg-12">
				<div class="card border-info mb-3">
					<div class="card-body">
						<div class="form-group">
							<label for="timePeriodSelect">Time Period:</label>
							<select class="form-control" id="timePeriodSelect" style="width: 200px; display: inline-block;">
								<option value="last36hours" selected>Last 36 Hours</option>
								<option value="last7days">Last 7 Days</option>
								<option value="last30days">Last 30 Days</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top:20px">
			<div class="col-lg-12">
				<div class="card border-primary mb-12" style="max-width: 100%; height: 500px;">
					<div class="card-header">Battery and Consumption Data</div>
						<div class="card-body">
							<div class="card-body">
								<canvas id="battChart" style="height:400px;"></canvas>
							</div>
						</div>

				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-lg-12">
				<div class="card border-primary mb-12" style="max-width: 100%; height: 500px;">
					<div class="card-header">Power Generation and Usage (PV Array 1 only)</div>
						<div class="card-body">
							<canvas id="pwrChart" style="height:400px;"></canvas>
						</div>

				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-lg-12">
				<div class="card border-primary mb-12" style="max-width: 100%; height: 500px;">
					<div class="card-header">Temperatures</div>
						<div class="card-body">
							<div class="card-body">
								<canvas id="tempChart" style="height:400px;"></canvas>
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
    <script>
		var colors = ['#9B5DE5','#F15BB5','#FEE440','#00BBF9','#00F5D4'];


		var pwrctx = document.getElementById('pwrChart').getContext('2d');
		var pwrchart = new Chart(pwrctx, {
			// The type of chart we want to create
			type: 'line',

			// The data for our dataset
			data: {
				datasets: [{
					label: 'PV production',
					backgroundColor: colors[0],
					borderColor: colors[0],
					fill: false,
					data: {{pvwatts|tojson}}
					
				},{
					label: 'Usage',
					backgroundColor: colors[1],
					borderColor: colors[1],
					fill: false,
					data: {{usedwatts|tojson}}
					
				}]
			},

			// Configuration options go here
			options: {
				maintainAspectRatio:false,
				legend: {
					display: true
				},
				scales: {
					xAxes: [{
						type: 'time',
						time: {
							//unit: 'minute'
							//parser: 'YYYY/MM/DD HH:mm:ss',
							//millisecond: 'mm:ss',
							//second: 'mm:ss',
							minute: 'HH:mm',
							//hour: 'HH:mm',
							//day: 'MMM DD',
							//week: 'MMM DD',
							//month: 'YYYY MMM',
							//quarter: 'YYYY MMM',
							//displayFormats: {
								//minute: 'h:mm a'
							//}
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Watts'
						}
					}]
				},
				elements: {
                    point:{
                        radius: 2
                    }
                },
                plugins: {
					zoom: {
						// Container for pan options
						pan: {
							// Boolean to enable panning
							enabled: true,
							// Panning directions. Remove the appropriate direction to disable 
							// Eg. 'y' would only allow panning in the y direction
							mode: 'xy'
						},

						// Container for zoom options
						zoom: {
							// Boolean to enable zooming
							enabled: true,
							//drag: true,
							// Zooming directions. Remove the appropriate direction to disable 
							// Eg. 'y' would only allow zooming in the y direction
							mode: 'xy',
						}
					}
				}
			}
		});
		
		var battctx = document.getElementById('battChart').getContext('2d');
		var battchart = new Chart(battctx, {
			// The type of chart we want to create
			type: 'line',

			// The data for our dataset
			data: {
				datasets: [{
					label: 'Battery Voltage',
					yAxisID: 'A',
					backgroundColor: colors[0],
					borderColor: colors[0],
					fill: false,
					data: {{volts|tojson}}

				},{
					label: 'Charge Amps',
					yAxisID: 'A',
					backgroundColor: colors[1],
					borderColor: colors[1],
					fill: false,
					data: {{chargeAmps|tojson}}

				},{
					label: 'Discharge Amps',
					yAxisID: 'A',
					backgroundColor: colors[3],
					borderColor: colors[3],
					fill: false,
					data: {{dischargeAmps|tojson}}

				},{
					label: 'Generation (V × Charge Amps)',
					yAxisID: 'B',
					backgroundColor: colors[2],
					borderColor: colors[2],
					fill: false,
					data: {{calcGeneration|tojson}}

				},{
					label: 'Usage (V × Discharge Amps)',
					yAxisID: 'B',
					backgroundColor: colors[4],
					borderColor: colors[4],
					fill: false,
					data: {{calcUsage|tojson}}

				}]
			},

			// Configuration options go here
			options: {
				maintainAspectRatio: false,
				legend: {
					display: true
				},
				scales: {
					xAxes: [{
						type: 'time',
						time: {
							//unit: 'minute'
							//parser: 'YYYY/MM/DD HH:mm:ss',
							//millisecond: 'mm:ss',
							//second: 'mm:ss',
							minute: 'HH:mm',
							//hour: 'HH:mm',
							//day: 'MMM DD',
							//week: 'MMM DD',
							//month: 'YYYY MMM',
							//quarter: 'YYYY MMM',
							//displayFormats: {
								//minute: 'h:mm a'
							//}
						}
					}],
					yAxes: [{
						id: 'A',
						type: 'linear',
						position: 'left',
						scaleLabel: {
							display: true,
							labelString: 'Volts / Amps'
						}
					},{
						id: 'B',
						type: 'linear',
						position: 'right',
						scaleLabel: {
							display: true,
							labelString: 'Watts'
						}
					}]
				},
				elements: {
                    point:{
                        radius: 2
                    }
                },
                plugins: {
					zoom: {
						// Container for pan options
						pan: {
							// Boolean to enable panning
							enabled: true,
							// Panning directions. Remove the appropriate direction to disable 
							// Eg. 'y' would only allow panning in the y direction
							mode: 'xy'
						},

						// Container for zoom options
						zoom: {
							// Boolean to enable zooming
							enabled: true,
							//drag: true,
							// Zooming directions. Remove the appropriate direction to disable 
							// Eg. 'y' would only allow zooming in the y direction
							mode: 'xy',
						}
					}
				}
			}
		});
		
		var tempctx = document.getElementById('tempChart').getContext('2d');
		var tempchart = new Chart(tempctx, {
			// The type of chart we want to create
			type: 'line',

			// The data for our dataset
			data: {
				datasets: [{
					label: 'Inverter Temperature',
					backgroundColor: colors[0],
					borderColor: colors[0],
					fill: false,
					data: {{inverterTemps|tojson}}
					
				},{
					label: 'Pi Temperature',
					backgroundColor: colors[1],
					borderColor: colors[1],
					fill: false,
					data: {{piTemps|tojson}}
					
				}]
			},

			// Configuration options go here
			options: {
				maintainAspectRatio:false,
				legend: {
					display: true
				},
				scales: {
					xAxes: [{
						type: 'time',
						time: {
							//unit: 'minute'
							//parser: 'YYYY/MM/DD HH:mm:ss',
							//millisecond: 'mm:ss',
							//second: 'mm:ss',
							minute: 'HH:mm',
							//hour: 'HH:mm',
							//day: 'MMM DD',
							//week: 'MMM DD',
							//month: 'YYYY MMM',
							//quarter: 'YYYY MMM',
							//displayFormats: {
								//minute: 'h:mm a'
							//}
						}
					}],
					yAxes: [{
						id: 'A',
						type: 'linear',
						position: 'left',
						scaleLabel: {
							display: true,
							labelString: 'deg C'
						}
					}]
				},
				elements: {
                    point:{
                        radius: 2
                    }
                },
                plugins: {
					zoom: {
						// Container for pan options
						pan: {
							// Boolean to enable panning
							enabled: true,
							// Panning directions. Remove the appropriate direction to disable 
							// Eg. 'y' would only allow panning in the y direction
							mode: 'xy'
						},

						// Container for zoom options
						zoom: {
							// Boolean to enable zooming
							enabled: true,
							//drag: true,
							// Zooming directions. Remove the appropriate direction to disable 
							// Eg. 'y' would only allow zooming in the y direction
							mode: 'xy',
						}
					}
				}
			}
		});

		// Function to update all charts with new data
		function updateCharts(data) {
			battchart.data.datasets[0].data = data.volts;
			battchart.data.datasets[1].data = data.chargeAmps;
			battchart.data.datasets[2].data = data.dischargeAmps;
			battchart.data.datasets[3].data = data.calcGeneration;
			battchart.data.datasets[4].data = data.calcUsage;
			battchart.update();

			pwrchart.data.datasets[0].data = data.pvwatts;
			pwrchart.data.datasets[1].data = data.usedwatts;
			pwrchart.update();

			tempchart.data.datasets[0].data = data.inverterTemps;
			tempchart.data.datasets[1].data = data.piTemps;
			tempchart.update();
		}

		// Handle dropdown change
		document.getElementById('timePeriodSelect').addEventListener('change', function() {
			const selectedPeriod = this.value;

			// Show loading indicator (optional)
			document.body.style.cursor = 'wait';

			// Make AJAX request to get new data
			fetch('/data_endpoint?period=' + selectedPeriod)
				.then(response => response.json())
				.then(data => {
					updateCharts(data);
					document.body.style.cursor = 'default';
				})
				.catch(error => {
					console.error('Error fetching data:', error);
					document.body.style.cursor = 'default';
				});
		});
    </script>
  </body>
</html>
